/* Shared Variables */

$colorHeader: #57837B;
$colorSection: #F1ECC3;
$colorFooter: #515E63;
$colorImgBg1: #A35709;
$colorMenuBg: #FFF5DA;
$fontMain: 'Raleway', sans-serif;
$fontBrand: 'Zen Loop', cursive;
$mainMarginLeft: 8%;
$mainMarginLeftOut: 9%;
$mainMarginLeftIn: 7%;




/* Custom Animations */

@keyframes fade-in {
    from {opacity: 0;
    margin-left:$mainMarginLeftIn;}
    to {opacity: 1; margin-left: $mainMarginLeft;
    }
}

@keyframes fade-out {
    0% {opacity: 1; margin-left: $mainMarginLeft}
    100% {opacity: 0; margin-left: $mainMarginLeftOut}
}




/* CSS Reset on basic elements */

body, p, a, h1 {
    padding: 0;
    margin: 0;
    font-family: $fontMain;
}

body {
    min-width: 250px;
}




/* Header Section */

header {

    /* Small Screens shrink and show burger */
    @media only screen and (max-width: 800px) {
        z-index: 10;
        height: 100px !important;
        .brand {
            font-size: 58px !important;
        }
        .links {
            display: none !important;
        }
        .btn-hamburger {
            display: block !important;
        }
    }

    position: relative;
    z-index: 10;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background-color: $colorHeader;
    
    .brand {
        font-family: $fontBrand;
        font-size: 80px;
        margin-left: 1rem;
    }
    

    /* Hamburger setup and animation */
    .bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
    }
    
    .btn-hamburger {
        display:none;
        margin-right: 1rem;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }


    /* Header link appearance and behavior */
    .links {
        margin-right: 1rem;
        display: block;
    .link {
        box-sizing: border-box;
        transition-duration: 0.2s;
        margin-left: 2rem;
        font-size: 30px;
        font-weight:200;
        cursor:pointer;
        }
        .link:hover:not(.activated) {
            color:$colorSection;
            margin-left: 5rem;
        }
        .activated {
            font-weight: 500;
        }
    }
}




/* Main Content section */

section {

    /* Image resize for one column layout (below 1200px) */
    @media only screen and (max-width: 1200px) {
        .image1 {
            max-width: 100% !important;
        }
        .image2 {
            max-width: 100% !important;
        }
    }

    /* Settings for small screens + hidden burger menu */
    @media only screen and (max-width: 800px) {
        padding: 0 0 5em 0;
        .main-content {
            display:flex !important;
            flex-direction: column !important;
        }

        .hidden-menu {
            display: block !important;
        }

        .menu-title {
            font-size: 17px !important;
        }
    }

    position: relative;
    flex-direction: column;
    display:flex;
    align-items: center;
    width: 100%;
    min-height: 500px;
    padding: 5em 0 ;
    background-color: $colorSection;


    /* Base settings for hidden menu */
    .hidden-menu {
        width: 100%;
        display: none;
        z-index: 1;
        position: relative;
        transition-duration: 0.6s;
        height: 50px;
        left:0 ;
        top:-50px;
        background-color: $colorHeader;
        box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    } 

    .hidden-menu.activated {
        top: 0px !important;
        box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2) !important;
    }

    .links {
        display:flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .link {
        box-sizing: border-box;
        transition-duration: 0.2s;
        margin-left: 1rem;
        font-size:1.2em;
        font-weight:200;
        cursor:pointer;
        }
        .link:hover:not(.activated) {
            color:$colorSection;
        }
        .activated {
            font-weight: 500;
    }


    /* Main components */
    .para-title {
        margin-bottom:0.5em;
        font-size: 1.7em;
        font-weight: 600;
    }

    .menu-line {
        display:flex;
        justify-content: space-between;
    }

    .menu-img {
        width: 50%;
        border-radius: 20px;
    }

    .menu-title {
        font-size:1.05em;

        width: 50%;
        align-self: center;
    }

    .main-content {
        margin-left: $mainMarginLeft;
        margin-right: $mainMarginLeft;
        gap: 5em 1em;
        display:grid;
        grid-template-areas: "tl tr" 
        "ml mr"
        "bot bot";
        font-size: 1.5em;
    }

    .main-content.menu{
        max-width: 1200px;
        margin-left: $mainMarginLeft;
        margin-right: $mainMarginLeft;
        display: flex;
        padding: 1em;
        border:1px solid grey;
        border-radius: 15px;
        flex-direction: column;
        font-size: 1.5em;
        background-color: $colorMenuBg;
    }

    .image1 {
        border-radius: 10% 5% 10% 20%;
        max-width: 500px;
        transform:rotateZ(-2deg);
    }

    .image2 {
        border-radius: 10% 5% 10% 20%;
        max-width: 550px;
        transform: rotateZ(6deg);
    }

    
    /* Grid layout for Home Page */
    .top-left-col {

        grid-area: tl;
    }

    .mid-left-col {

        grid-area: ml;
    }

    .top-right-col {

        grid-area: tr;
    }

    .mid-right-col {

        grid-area: mr;
    }

    .bot-col {
        font-size: 1.2em;
        grid-area: bot;
        text-align: center;
    }


    /* Tab switch animation classes */
    .fade-in {
        animation: fade-in 0.4s ease-in-out;
    }

    .fade-out {
        animation: fade-out 0.4s ease-in-out;
    }
}




/* Footer area */

footer {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2em;
    width: 100%;
    height: 70px;
    background-color: $colorFooter;

    p {
        padding-left: 1rem;
    }

    a {
        font-weight:600;
        margin-left: 0.5rem;
        text-decoration: none;
        transition-duration: 0.2s;
        color: black;
    }

    a:hover {
        color: $colorSection;
    }

}

